# Maven
target/
*.versionsBackup

# Backup files and temporary artifacts
*-backup.*
*-original.*
*.disabled
*.tmp
*~

# IntelliJ IDEA
*.iws
*.iml
*.ipr
.idea/

# Eclipse
.classpath
.project
.settings

# ---- Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

# SonarQube
.sonar/
.vscode/settings.json
